/* Background */ .chroma { color: #ffffff; background-color: rgba(0, 0, 0, 0.48)
}
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #fb660a; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #fb660a; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #fb660a; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #fb660a; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #fb660a }
/* KeywordReserved */ .chroma .kr { color: #fb660a; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #cdcaa9; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #ff0086; font-weight: bold }
/* NameConstant */ .chroma .no { color: #0086d2 }
/* NameFunction */ .chroma .nf { color: #ff0086; font-weight: bold }
/* NameTag */ .chroma .nt { color: #fb660a; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #fb660a }
/* LiteralString */ .chroma .s { color: #31882c }
/* LiteralStringAffix */ .chroma .sa { color: #31882c }
/* LiteralStringBacktick */ .chroma .sb { color: #31882c }
/* LiteralStringChar */ .chroma .sc { color: #31882c }
/* LiteralStringDelimiter */ .chroma .dl { color: #31882c }
/* LiteralStringDoc */ .chroma .sd { color: #31882c }
/* LiteralStringDouble */ .chroma .s2 { color: #31882c }
/* LiteralStringEscape */ .chroma .se { color: #31882c }
/* LiteralStringHeredoc */ .chroma .sh { color: #31882c }
/* LiteralStringInterpol */ .chroma .si { color: #31882c }
/* LiteralStringOther */ .chroma .sx { color: #31882c }
/* LiteralStringRegex */ .chroma .sr { color: #31882c }
/* LiteralStringSingle */ .chroma .s1 { color: #31882c }
/* LiteralStringSymbol */ .chroma .ss { color: #31882c }
/* LiteralNumber */ .chroma .m { color: #50aff7; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #50aff7; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #50aff7; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #fb660a; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #50aff7; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #50aff7; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #fb660a; font-weight: bold }
/* Comment */ .chroma .c { color: gray; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: gray; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: gray; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: gray; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: gray; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #ff0007; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #ff0007; font-weight: bold; font-style: italic }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericOutput */ .chroma .go { color: #444444; background-color: #222222 }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* TextWhitespace */ .chroma .w { color: #888888 }
